{% spaceless %}

{# Parameters:
  - id (string) (default: '')
  - collapse_text (string) (default: '')
  - items (array of type buttons or links)
#}

{% set _id = id|default('') %}
{% set _collapse_text = collapse_text|default('') %}
{% set _items = items|default([]) %}

{% if _items is not empty and _items is iterable %}
  {% for _item in _items %}
    {% include '@oe/button/button.html.twig' with _item only %}
  {% endfor %}
{% endif %}
<div class="collapse" id="{{ _id }}">
  <div class="card card-body">
    {{ _collapse_text }}
  </div>
</div>

{% endspaceless %}
